extends layout

block content
	div#my_tab.my_tab
		div#tab_title.tab_title
			ul
				li
					a(href="#") 公告
				li
					a(href="#") 规则
				li
					a(href="#") 论坛
				li
					a(href="#") 安全
				li.select
					a(href="#") 公益

		div#tab_content.tab_content
			div.mod(style="display: none;")
				ul
					li
						a(href="#") 张勇：要玩快乐足球
					li
						a(href="#") 阿里2000万驰援灾区！
					li
						a(href="#") 旅游宝让你边玩边赚钱
					li
						a(href="#") 多行跟阿里信用贷款

			div.mod(style="display: none;")
				ul
					li
						a(href="#") 要玩快乐足球
					li
						a(href="#") 比特币严管啦！
					li
						a(href="#") 商品属性限制
					li
						a(href="#") 商品属性限制

			div.mod(style="display: none;")
				ul
					li
						a(href="#") 金牌卖家再起航
					li
						a(href="#") 橱窗规则升级啦
					li
						a(href="#") 又爱又恨优惠券
					li
						a(href="#") 购后送店铺红包

			div.mod(style="display: none;")
				ul
					li
						a(href="#") 个人和总要信息要牢管！
					li
						a(href="#") 卖家防范红包欺诈提醒！
					li
						a(href="#") 更换收货地址的陷阱！
					li
						a(href="#") 注意骗子的技术升级了！

			div.mod(style="display: block;")
				ul
					li
						a(href="#") 走进无声课堂
					li
						a(href="#") 淘宝之行大众评审赢公益
					li
						a(href="#") 爱心品牌联合征集
					li
						a(href="#") 公益机构淘宝开店攻略
	
