doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/index.js")
    script(src="/javascripts/tab.js")
    script(src="/javascripts/utils.js")
  body
    block content
